/* HOMETEXTILS */

body {
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 20px;
}

p {
    font-size: 18px;
}

.listado{
    margin-top: 10px;
}